@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@400;700&family=PT+Sans:wght@400;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

/* For IE, Edge and Firefox */
.scrollbar-hide {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
